.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
avito_bot/db.sqlite3
error.log
celerybeat-schedule.db

venv

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media

build
doc
home.rst
make.bat
Makefile

doc-dev